.logo>img{
    width: 100px;
}
.profile>img{
    width: 40px;
    height: 40px;
    mix-blend-mode:darken;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: darkcyan  ;
}
.options{
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-items: center;
}
.wishlist a{
    color: white;
    text-decoration: none;
}
.sub1{
    display: block;
    position: absolute;
    transform: translate(-50px,10px);
}


.sub1 a{
    display: block;
    width: 100px;
    height: 30px;
    background-color: white;
    box-shadow: 0px 0px 4px gray;
    text-decoration: none;
    padding: 5px;
}
.sub1 a:hover{
    background-color: blue;
    color: white;
}
#l3{
    font-size: small;
}

.profile img:hover {
    display: block;
}

.hambarger{
    display: none;
    mix-blend-mode:color-dodge;
}
@media (max-width:768px) {
    .hambarger{
        display: block;
    }
    .options{
        display: none;
    }
}